// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: rgb(67, 59, 125);
// $secondary : #254375;
$secondary : #121431;
$accent    : #9649a5;

$dark      : #170d13;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #9649a540;

$warning   : #F2C037;

// $primary: #1a394b;
// $secondary: #26a69a;
// $accent: #f58426;


$cream: #fdfbf2;
$cream-dark: #fbf7ea;

$brown: #514d40;